<div class="container">
    <mat-card class="item">
        <div class="car-img">
            <img [src]="car.image" alt="foto de auto">
        </div>
        <div class="describe-car">
             <div class="info">
                <h3>{{ car.title }}</h3> 
                <mat-chip-list aria-label="Fish selection">
                    {{ car.year }}
                    <mat-chip>{{ car.banner }}</mat-chip>  
                </mat-chip-list>
                <div>
                    Caracteristica: {{ car.caracteristica }} 
                </div>
             </div>

             <mat-chip-list class="score" aria-label="Fish selection">
                <mat-chip color="primary" selected>{{ car.score }}</mat-chip>
                MUY BUENO 
            </mat-chip-list>
        </div>
    </mat-card>
    
    <mat-card class="item">
        <div class="presio">
            <div class="font-min">
                <p>Presio Presencial</p>
                <p>{{ car.precio | currency}}</p>
            </div>
            <div class="font-max">
                <p>Presio Online</p>
                <p class="font-presio">{{ car.precioOnline | currency }} </p> 
            </div>
            <button mat-raised-button color="primary">CONSULTAR!</button>
        </div>
    </mat-card>
</div>

