<div class="container">
    <div class="item">
        <mat-list>
            <mat-list-item><h3 class="mg-5">Filtro</h3></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>

                <mat-panel-title>
                  OKM - Usados
                </mat-panel-title>
                
              </mat-expansion-panel-header>
          
              <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-checkbox [(ngModel)]="ok" (click)="fillCars('ok')">OKM </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox [(ngModel)]="usado" (click)="fillCars('usado')">USADOS </mat-checkbox>
                </mat-list-item>
            </mat-list>
              

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Trasmision
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-checkbox [(ngModel)]="automatico" (click)="fillCars('automatico')">Automatico</mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox [(ngModel)]="manual" (click)="fillCars('manual')">Manual</mat-checkbox>
                </mat-list-item>
            </mat-list>

            </mat-expansion-panel>
          </mat-accordion>
    </div>
    <div class="item">
        <h2>Comprando tu auto oline te lo llevamos a domicilio!</h2>
        <app-car
            *ngFor="let car of cars"
            [car]="car"
        ></app-car>
    </div>
</div>
