/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { height: 100%; }
body { 
    margin: 0px;
    font-family: 'Roboto', sans-serif
}

.container {
    background: rgb(236, 236, 235);
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.mg-5 {
    margin: 5px;
}
